// Font Icons
// --------------------------------------------------
// Variaveis com o codigo de cada icone

$icons: (
  lei-incentivo: "\e900",
  search_b: "\e901",
  smartphone: "\e902",
  settings: "\e903",
  eye: "\e904",
  checkmark: "\e905",
  double-checkmark: "\e906",
  home: "\e907",
  less: "\e908",
  plus: "\e909",
  calendar: "\e90a",
  editais: "\e90b",
  clock: "\e90c",
  location: "\e90d",
  search: "\e90e",
  libras: "\e90f",
  contrast: "\e910",
  play_btn: "\e911",
  arrow_down: "\e912",
  arrow_top: "\e913",
  arrow_left: "\e914",
  arrow_right: "\e915",
  angle_left: "\e916",
  angle_up: "\e917",
  angle_right: "\e918",
  angle_down: "\e919",
  economia-criativa: "\e91a",
  dados-br: "\e91b",
  ouvidoria: "\e91c",
  consultas-publicas: "\e91d",
  fale-conosco: "\e91e",
  multimidia: "\e91f",
  publicacoes: "\e920",
  noticias: "\e921",
  assessoria: "\e922",
  escritorios-regionais: "\e923",
  legislacao: "\e924",
  acoes-programadas: "\e925",
  internacional: "\e926",
  vinculadas: "\e927",
  secretarias: "\e928",
  ministerio: "\e929",
  ministro: "\e92a",
  pontos-cultura: "\e92b",
  centros-culturais: "\e92c",
  patrimonio: "\e92d",
  apoio: "\e92e",
  lei-rouanet: "\e92f",
  snc: "\e930"
);
