#main-header,
footer,
main {
  min-width: 1250px;
  overflow: hidden;
  position: relative;
}

header > .container,
footer > .container,
main .container {
  width: 1150px !important;
  max-width: none !important;
}

.col-lg-9 {
    flex: 0 0 75% !important;
    max-width: 75% !important;
}
.col-lg-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
}

.col-lg-4 {
    flex: 0 0 33.33333% !important;
    max-width: 33.33333% !important;
}

body.home .widget_text_image_box .banner-img-preview {
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #CCC;
}

#posts-list li .categories {
  display: none;
}

.carousel-wrapper #jumbotron-carousel .carousel-item:before {
  opacity: 0.5 !important;
}

.carousel-wrapper #jumbotron-carousel .carousel-item img,
.carousel-wrapper {
  height: auto !important;
  min-height: auto !important;
}

.social-medias {
  display: inline-block;
}

#main-single .btn {
  margin: 0 !important;
}

#multimidia .btn-ver-mais {
    margin: 0 auto;
    cursor: pointer;
    border-color: #FFF;
    color: #FFF;
    text-transform: uppercase;
}

#menu-toggle,
#breadcrumb-wrapper .subpages-menu{
	display: none !important;
}

#featured-links ul {
	padding-left: 0 !important;
}

#main-footer .container {
  overflow: hidden;
  position: relative;
}

#main-footer {
  overflow: hidden;
  position: relative;
}

#main-footer .menus {
  position: relative;
  float: left;
  margin-bottom: 0 !important;
}

#main-footer .menus .section-title {
  font-size: 21px;
}

#main-footer .social-network {
  float: right;
}

#main-footer .footer-brasil {
  position: absolute;
  right: 0;
  bottom: 23px;
}

#page-o-que-e .img-wrapper {
  border-radius: 15px;
  overflow: hidden;
  display: block;
}

#page-o-que-e .img-wrapper.square {
  background-size: cover;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 1px solid #CCC;
}

#page-o-que-e .img-wrapper img {
  width: 100%;
}

#page-o-que-e .img-wrapper.rounded {
  border-radius: 50% !important;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border: 1px solid #CCC;
  background-size: cover;
}

#page-o-que-e h5 {
  font-size: 1.1rem;
}

#como-funciona .img-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

#como-funciona #info-graphic {
  background: #FFF;
}

#como-funciona #info-graphic img {
  width: 100%;
  margin: 0 auto;
}

#como-funciona #info-graphic hr {
  display: none;
  width: 80%;
  margin: 0 auto 30px;
}

#como-funciona .box-cnic {
    width: 400px;
    text-align: left;
    padding: 30px;
    margin-left: 50px;
    background: #EEE;
    border-radius: 15px;
    clear: both;
}

#como-funciona #tutoriais {
  background: #222222;
  color: #FFF;
  background-image: url('../img/arrow-pattern.svg');
}

#ferramentas .img-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#ferramentas .image-and-text {
  padding: 30px 0;
}

#ferramentas .image-and-text .container .col-image {
  flex: 0 0 360px;
}

#ferramentas .image-and-text .container .col-image .box {
  position: static;
}

#ferramentas .btn-acesse {
  margin: 0;
  cursor: pointer;
}

#legislacao .img-wrapper {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}

#legislacao .image-and-text {
  padding: 30px 0;
}

#legislacao .image-and-text .container .col-image {
  flex: 0 0 360px;
}

#legislacao .btn-acesse {
  margin: 0;
  cursor: pointer;
}

#legislacao-wrapper .row {
  justify-content: center;
  margin-top: 30px;
}

#legislacao-wrapper .row:first-child {
  margin-top: 0;
}

#legislacao-wrapper .box {
  display: block;
  height: 100%;
  text-align: center;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
}

#legislacao-wrapper .box h2 {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 0 20px;
  display: block;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CCC;
}

#legislacao-wrapper .box a {
    transform: translateX(-50%);
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 110px;
    cursor: pointer;
}

#legislacao-wrapper .box p {
  margin: 0;
  padding: 0 20px;
  text-align: left;
}


#page-faq .accordion .card .card-header h3 a {
  height: auto;
  line-height: normal;
  min-height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 60px;
}

#page-faq .accordion .card .card-header h3 a:before {
/*  transform: none;
  top: 15px;*/
}

#page-faq .accordion .card .card-header h3 a span {
  padding: 15px 0;
}

#page-cnic .table-responsive,
#page-cnic .table-responsive table {
  height: 100%;
  margin: 0;
  background: #FFF;
}

#page-cnic .table-responsive {
  /*background: #f0f0f0;*/
}

#page-cnic .table-responsive table th {
  text-align: center;
}

#page-cnic .table-responsive table td {
  vertical-align: middle;
}

#page-cnic .align-right {
    width: 570px;
    margin: 0 30px;
    float: right;
}

.type-post .entry-content iframe {
    width: 100%;
    height: 500px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
}

